@import url('https://fonts.googleapis.com/css?family=Numans');

body{
  background: url("../img/img_fond.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
height: 100%;
align-content: center;
}

.card{

margin-top: 100px;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
background-color: rgba(255, 255, 255, 0.70) !important;
}

.card-footer {
background-color: rgb(255, 255, 255) !important;

}

.card-header h3{
color: black;
}
